
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/bootstrap.min.js"></script>
    <title>Cadastro de Alunos</title>

    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="menu">Menu</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav">
                        <div class="hstack gap-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="menu">Cadastro</a>
                            </li>
                            <div class="vr"></div>
                            <li class="nav-item">
                                <a class="nav-link" href="alocacaoDeSalas">Alocação de Salas</a>
                            </li>
                            <div class="vr"></div>
                            <li class="nav-item">
                                <a class="nav-link" href="pesquisar">Pesquisar</a>
                            </li>
                            <div class="vr"></div>
                            <li class="nav-item">
                                <a class="nav-link" href="relatorios">Relatório</a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>

        <div class="container-form">
            <h1 class="fw-bold text-center mt-3">Cadastro de Alunos</h1>
            <form id="formulario" method="post">
                <div class="mb-3 ms-3">
                    <label for="exampleFormControlInput1" class="form-label">Nome do Aluno</label>
                    <input type="text" class="form-control" name="nomeAluno" id="nomeAluno" placeholder="Nome do Aluno" required>
                </div>
                <div class="mb-3 ms-3">
                    <label for="exampleFormControlInput1" class="form-label">Sobrenome do Aluno</label>
                    <input type="text" class="form-control" name="sobrenomeAluno" id="sobrenomeAluno" placeholder="Sobrenome do Aluno" required>
                </div>
                <div class="mb-3 ms-3">
                    <label for="exampleFormControlInput1" class="form-label">Email do Aluno:</label>
                    <input type="email" class="form-control" name="emailAluno" id="emailAluno" placeholder="email@exemplo.com" required>
                </div>
                <div class="mb-3 ms-3">
                    <label for="exampleFormControlInput1" class="form-label">Telefone do Aluno</label>
                    <input type="number" class="form-control" name="telefoneAluno" id="telefoneAluno" placeholder="(99)99999-9999" required>
                </div>
                <button type="submit" class="btn btn-primary ms-3">Salvar</button>
            </form>
        </div>
    </main>
    <footer>
        <div class="fixo bg-body-tertiary">
            <h3>Desenvolvido por Mark Treinamentos</h3>
        </div>
    </footer>
