<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/erro.css">

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card bg-danger" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title text-white">Erro ao cadastrar</h5>
            <p class="card-text text-white">Nome do curso jรก cadastrado</p>
            <a href="cadastroDeCursos" class="card-link text-white">Voltar para o cadastro</a>
        </div>
    </div>
</div>