<div class="container" id="container">
        <div class="form-container sign-in">
            <div class="loginLogo">
                <img src="./logo/logo.png" alt="">
            </div>
            <form id="loginForm" method="post">
                <h1>Login</h1>
                <input type="text" name="loginUsuario" id="loginUsuario" placeholder="Usuário" required>
                <input type="password" name="loginSenha" id="loginSenha" placeholder="Senha" required>
                <button type="submit" id="loginBtn">Entrar</button>
                <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="cadastro">
                Primeiro acesso? Clique aqui
            </a>
            </form>
        </div>
</div>