
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/bootstrap.min.js"></script>
    <title>Pesquisar</title>

    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="menu">Menu</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav">
                        <div class="hstack gap-3">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="menu">Cadastro</a>
                            </li>
                            <div class="vr"></div>
                            <li class="nav-item">
                                <a class="nav-link" href="alocacaoDeSalas">Alocação de Salas</a>
                            </li>
                            <div class="vr"></div>
                            <li class="nav-item">
                                <a class="nav-link active" href="pesquisar"><strong>Pesquisar</strong></a>
                            </li>
                            <div class="vr"></div>
                            <li class="nav-item">
                                <a class="nav-link" href="relatorios">Relatório</a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>



<div class="container2">
            <a href="pesquisarInstrutor"><button type="button" id="botao3" class="btn btn-success btn-lg">Pesquisar Instrutor</button></a>
            <a href="pesquisarAluno"><button type="button" id="botao3" class="btn btn-success btn-lg">Pesquisar Aluno</button></a>
            <a href="pesquisarCurso"><button type="button" id="botao3" class="btn btn-success btn-lg">Pesquisar Curso</button></a>
            <a href="pesquisarSala"><button type="button" id="botao3" class="btn btn-success btn-lg">Pesquisar Sala</button></a>
            <a href="pesquisarSalaAlocada"><button type="button" id="botao3" class="btn btn-success btn-lg">Pesquisar Sala Alocada</button></a>
</div>

<footer>
    <div class="fixo bg-body-tertiary">
        <h3>Desenvolvido por Mark Treinamentos</h3>
    </div>
</footer>