
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.min.js"></script>
    <title>Card de Cursos</title>

    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="menu">Menu</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav">
                        <div class="hstack gap-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="realizarCadastros">Cadastro</a>
                            </li>
                            <div class="vr"></div>
                            <li class="nav-item">
                                <a class="nav-link" href="alocacaoDeSalas">Alocação de Salas</a>
                            </li>
                            <div class="vr"></div>
                            <li class="nav-item">
                                <a class="nav-link" href="pesquisar">Pesquisar</a>
                            </li>
                            <div class="vr"></div>
                            <li class="nav-item">
                                <a class="nav-link" href="relatorios">Relatório</a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

<div class="container-table-exibicao">
    <h1>Turmas Cadastradas</h1>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">Nome do Curso: </th>
                    <th scope="col">Nome do Aluno: </th>
                    <th scope="col">Nome do Instrutor: </th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td>{{this.nomeCurso}}</td>
                    <td>{{this.nomeAluno}}</td>
                    <td>{{this.nomeInstrutor}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
</div>